# This is Git's per-user configuration file.
[user]
	name = Ciaran Donegan
	email = 38507438+donegaci@users.noreply.github.com

[includeIf "gitdir:~/code/tub/"]
  path = .gitconfig-tub
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[branch]
	sort = -committerdate
[pull]
	rebase = true
[push]
	autoSetupRemote = true